**/bin/
**/obj/
obj/

# Ignore all build/ folders recursively
**/build/

# Un-ignore the top-level build/ folder
!/build/

# Ignore everything inside top-level build/
build/*

# But keep the .gitkeep file inside the top-level build/
!build/.gitkeep

# Ignore everything in data directory
/data/*
/chromium/*
/output/*
# But keep .gitkeep in the data directory
!/data/.gitkeep
chrome-win
chrome-linux
ChromiumUserData
.vs/
packages/
*.user
*.suo
*.vs/
*.db
*.log
UserData
egdtswa4/
.idea/
/.github/prompts

# drawio
*.bkp

**/.DS_Store

global.json
