**/bin/
**/obj/
obj/
# Ignore all build/ folders recursively
**/build/
# Ignore everything inside top-level build/
build/*
# Ignore everything in data directory
/data/*
/build/*
build/
/chromium/*
/output/*
# But keep .gitkeep in the data directory
!/data/.gitkeep
# Except for the .gitkeep file inside it
!/build/.gitkeep
!/build/
chrome-win
chrome-linux
ChromiumUserData
.vs/
packages/
*.user
*.suo
*.vs/
*.db
*.log
UserData
egdtswa4/
.idea/
/.github/prompts

# drawio
*.bkp

**/.DS_Store

global.json
